.toolbox ul {
	margin:0px;
	padding:0px;
}

.expr-toolbox {
	padding-right:5px;
	width:120px;
}

li.command-element {
	list-style: none;
	background-color: #FFF;
	color:#000;
	margin: 5px;
	padding: 5px;
	width: 150px;
	display:list-item;
	border:1px solid #AAA;
	border-radius:5px;
}

li.expr-element, li.math-element, li.cmp-element, li.var-element {
	list-style: none;
	background-color: #FFF;
	color:#000;
	margin: 5px;
	padding: 5px;
	min-width: 20px;
	display:list-item;
	border:1px solid #AAA;
	border-radius:5px;
}

ul.expr-droppable, ul.math-droppable, ul.cmp-droppable, ul.var-droppable {
	/*border:1px solid #AAA;*/
	background-color:#AAA;
	border-radius:5px;
	display: inline-block;
	min-width:20px;
}

li.command-element input {
	border:1px solid #DDD;
	font-size:0.9em;
	border-radius:10px;
	text-align:center;
}

.command-inner-sortable {
	min-height: 10px;
}

.command-workspace .command-inner-sortable {
	min-height: 30px;
}

.command-workspace {
	margin:0px;
	padding:5px 5px 30px 0px;
	min-height:100px;
	background-color: #CCC;
	width:160px;
	border-radius:5px;
}

.command-workspace ul {
	margin:0px;
	padding:0px 0px 30px 0px;
}

.command-workspace .expr-element ul {
	margin:0px;
	padding:0px 0px 20px 0px;
}

.toolbox p, .command-workspace-outer p {
	color:#FFF;
	margin-left: 10px;
	font-weight: bold;
}

.command-trash-outer {
	position:relative;
	left:0px;
	top:0px;
}

.command-trash-icon {
	width:100px;
	height:100px;
	font-size:50px;
	color:#FFF;
	position:absolute;
	left:0px;
	top:0px;
	text-align: center;
	vertical-align: middle;
}

.command-trash {
	width:100px;
	height:100px;
	font-size:36px;
	color:#FFF;
	position:absolute;
	left:0px;
	top:0px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}