<div ng-controller="commandControl" class="noselect">
	<div class="command-options">
		<input type="checkbox" ng-model="showMultipleCharacterControl" ng-init="showMultipleCharacterControl=false" /> Show controls for multiple characters
	</div>
	<div class="command-toolbox toolbox" id="toolbox" style="float:left;">
		<p>Actions</p>
		<ul>
			<li class="command-element" ui-jq="draggable" data-command="setX" ui-options="commandDraggableParams">
				<ng-include src="characterIdTemplate"></ng-include>setX(
				<ul class="math-droppable" data-exp-name="x"></ul> 
			)
			<li class="command-element" ui-jq="draggable" data-command="setY" ui-options="commandDraggableParams">
				<ng-include src="characterIdTemplate"></ng-include>setY(
				<ul class="math-droppable" data-exp-name="y"></ul> 
			)</li>
			<li class="command-element" ui-jq="draggable" data-command="show" ui-options="commandDraggableParams">
				<ng-include src="characterIdTemplate"></ng-include>show</li>
			<li class="command-element" ui-jq="draggable" data-command="hide" ui-options="commandDraggableParams">
				<ng-include src="characterIdTemplate"></ng-include>hide</li>
			<li class="command-element" ui-jq="draggable" data-command="move" ui-options="commandDraggableParams">
				<ng-include src="characterIdTemplate"></ng-include>move(
				<ul class="math-droppable" data-exp-name="count"></ul> 
			)</li>
			<li class="command-element" ui-jq="draggable" data-command="changeCostume" ui-options="commandDraggableParams">
				<ng-include src="characterIdTemplate"></ng-include>changeCostume <select name="costume">
				<option value="pikachu">Default</option>
				<option value="pikaspec">Spectacles</option>
				<option value="pikasquirk">Squirk</option>
				<option value="pikadead">Dead</option>
			</select>
			</li>
			<li class="command-element" ui-jq="draggable" data-command="changeBackground" ui-options="commandDraggableParams">changeBackground <select name="costume">
				<option value="binding_dark">binding_dark</option>
				<option value="squared_metal">squared_metal</option>
				<option value="stardust">stardust</option>
				<option value="tree_bark">tree_bark</option>
			</select></li>
			<li class="command-element" ui-jq="draggable" data-command="setFps" ui-options="commandDraggableParams">setFPS(
				<ul class="math-droppable" data-exp-name="fps"></ul>
			)</li>
			<!--<li class="command-element" ui-jq="draggable" data-command="setNumCharacters" ui-options="commandDraggableParams">setNumCharacters(
				<ul class="math-droppable" data-exp-name="count"></ul>
			)</li>-->
			<li class="command-element" ui-jq="draggable" data-command="showMessage" ui-options="commandDraggableParams">showMessage
				<input type="text" size="2" name="text">
				<ul class="math-droppable" data-exp-name="number"></ul>
			</li>
			<li class="command-element" ui-jq="draggable" data-command="setVariable" ui-options="commandDraggableParams">set <input type="text" size="2" name="varName"> =
				<ul class="math-droppable" data-exp-name="varExp"></ul> 
			</li>
			<li class="command-element sub-commands-allowed" data-command="repeat" ui-jq="draggable" ui-options="commandDraggableParams">repeat(
				<ul class="math-droppable" data-exp-name="count"></ul> 
			)
				<ul class="command-inner-sortable" data-name="commands">  
				</ul>
			</li>
			<li class="command-element sub-commands-allowed" data-command="while" ui-jq="draggable" ui-options="commandDraggableParams">while(
				<ul class="expr-droppable" data-exp-name="condition"></ul> 
			)
				<ul class="command-inner-sortable" data-name="commands">  
				</ul>
			</li>
			<li class="command-element sub-commands-allowed" data-command="forever" ui-jq="draggable" ui-options="commandDraggableParams">forever
				<ul class="command-inner-sortable" data-name="commands">  
				</ul>
			</li>
			<li class="command-element sub-commands-allowed" data-command="ifelse" ui-jq="draggable" ui-options="commandDraggableParams">if
				(<ul class="expr-droppable" data-exp-name="condition"></ul>)
				<br>
				<ul class="command-inner-sortable" data-name="ifblock">  
				</ul>
				else
				<ul class="command-inner-sortable" data-name="elseblock">  
				</ul>
			</li>
		</ul>
	</div>
	<div class="expr-toolbox toolbox" id="expr-toolbox" style="float:left;">
		<p>Exp</p>
		<ul>
			<li class="expr-element" ui-jq="draggable" data-command="and" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() && this.exp2.eval();">
				<ul class="expr-droppable" data-exp-name="exp1"></ul> and <ul class="expr-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="expr-element" ui-jq="draggable" data-command="or" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() || this.exp2.eval();">
				<ul class="expr-droppable" data-exp-name="exp1"></ul> or <ul class="expr-droppable" data-exp-name="exp2"></ul>
			</li>
		</ul>

		<p>Cmp</p>
		<ul>
			<li class="cmp-element" ui-jq="draggable" data-command="lt" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() < this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &lt; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="cmp-element" ui-jq="draggable" data-command="gt" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() > this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &gt; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="cmp-element" ui-jq="draggable" data-command="eq" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() == this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> = <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
		</ul>

		<p>Math</p>
		<ul>
			<li class="math-element" ui-jq="draggable" data-command="add" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() + this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> + <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="subtract" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() - this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> - <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="multiply" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() * this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &times; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="divide" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() / this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &divide; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="modulo" ui-options="expressionDraggableParams"
			data-eval="return this.exp1.eval() % this.exp2.eval();">
				<ul class="math-droppable" data-exp-name="exp1"></ul> mod <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>			
		</ul>
		<p>Vars</p>
		<ul>
			<li class="var-element" ui-jq="draggable" data-command="spriteX" ui-options="expressionDraggableParams"
			data-eval="return $('#sprite' + this.characterId.eval()).offset().left - $('#playbackArea').parent().offset().left * 1;">
				<ng-include src="characterIdTemplate"></ng-include>spriteX
			</li>
			<li class="var-element" ui-jq="draggable" data-command="spriteY" ui-options="expressionDraggableParams"
			data-eval="return $('#sprite' + this.characterId.eval()).offset().top;">
				<ng-include src="characterIdTemplate"></ng-include>spriteY
			</li>
			<li class="var-element" ui-jq="draggable" data-command="mouseX" ui-options="expressionDraggableParams"
			data-eval="return window.mouseX - $('#playbackArea').parent().offset().left * 1;">mouseX</li>
			<li class="var-element" ui-jq="draggable" data-command="mouseY" ui-options="expressionDraggableParams"
			data-eval="return window.mouseY;">mouseY</li>
			<li class="var-element" ui-jq="draggable" data-command="number" ui-options="expressionDraggableParams"
			data-eval="return this.value * 1;">num <input type="text" size="2" name="value"></li>
			<!-- we need the * 1 to handle the 1 + 2 = 3 and not 1 + 2 = 12 case! -->
			<li class="var-element" ui-jq="draggable" data-command="variable" ui-options="expressionDraggableParams"
			data-eval="if (typeof(window.userVariables[this.varName]) === 'undefined'){ alert(this.varName + ' is not defined. Assuming to be 0.'); window.userVariables[this.varName] = 0 }; return window.userVariables[this.varName];">var <input type="text" size="2" name="varName"></li>			
		</ul>
	</div>

	<div style="float:left;" class="command-workspace-outer">
		<p>Workspace</p>
		<ul id="workspace" class="command-workspace" ui-jq="sortable" ui-options="workspaceSortableParams">
		</ul>
	</div>

	<div style="float:left;" class="command-trash-outer">
		<div class="command-trash-icon">
			<i class="fa fa-trash"></i>
		</div><br>
		<div id="trash" class="command-trash" ui-jq="sortable" ui-options="trashSortableParams">			
		</div>
	</div>
</div>
