<div ng-controller="commandControl" class="noselect">
	<div class="command-toolbox toolbox" id="toolbox" style="float:left;">
		<p>Actions</p>
		<ul>
			<li class="command-element" ui-jq="draggable" data-command="setX" ui-options="commandDraggableParams">setX(<input type="text" size="2" name="x">)</li>
			<li class="command-element" ui-jq="draggable" data-command="setY" ui-options="commandDraggableParams">setY(<input type="text" size="2" name="y">)</li>
			<li class="command-element" ui-jq="draggable" data-command="show" ui-options="commandDraggableParams">show</li>
			<li class="command-element" ui-jq="draggable" data-command="hide" ui-options="commandDraggableParams">hide</li>
			<li class="command-element" ui-jq="draggable" data-command="move" ui-options="commandDraggableParams">move(<input type="text" size="2" name="count">)</li>
			<li class="command-element" ui-jq="draggable" data-command="changeCostume" ui-options="commandDraggableParams">changeCostume <select name="costume">
				<option value="pikachu">Default</option>
				<option value="pikaspec">Spectacles</option>
				<option value="pikasquirk">Squirk</option>
				<option value="pikadead">Dead</option>
			</select>
			</li>
			<li class="command-element" ui-jq="draggable" data-command="changeBackground" ui-options="commandDraggableParams">changeBackground <select name="costume">
				<option value="binding_dark">binding_dark</option>
				<option value="squared_metal">squared_metal</option>
				<option value="stardust">stardust</option>
				<option value="tree_bark">tree_bark</option>
			</select></li>
			<li class="command-element sub-commands-allowed" data-command="repeat" ui-jq="draggable" ui-options="commandDraggableParams">repeat(<input type="text" size="2" name="count">)
				<ul class="command-inner-sortable" data-name="commands">  
				</ul>
			</li>
			<li class="command-element sub-commands-allowed" data-command="forever" ui-jq="draggable" ui-options="commandDraggableParams">forever
				<ul class="command-inner-sortable" data-name="commands">  
				</ul>
			</li>
			<li class="command-element sub-commands-allowed" data-command="ifelse" ui-jq="draggable" ui-options="commandDraggableParams">if
				<ul class="expr-droppable" data-exp-name="condition"></ul>
				<br>
				<ul class="command-inner-sortable" data-name="ifblock">  
				</ul>
				else
				<ul class="command-inner-sortable" data-name="elseblock">  
				</ul>
			</li>
		</ul>
	</div>
	<div class="expr-toolbox toolbox" id="expr-toolbox" style="float:left;">
		<p>Exp</p>
		<ul>
			<li class="expr-element" ui-jq="draggable" data-command="and" ui-options="expressionDraggableParams">
				<ul class="expr-droppable" data-exp-name="exp1"></ul> and <ul class="expr-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="expr-element" ui-jq="draggable" data-command="or" ui-options="expressionDraggableParams">
				<ul class="expr-droppable" data-exp-name="exp1"></ul> or <ul class="expr-droppable" data-exp-name="exp2"></ul>
			</li>
		</ul>

		<p>Cmp</p>
		<ul>
			<li class="cmp-element" ui-jq="draggable" data-command="lt" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &lt; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="cmp-element" ui-jq="draggable" data-command="gt" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &gt; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="cmp-element" ui-jq="draggable" data-command="eq" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> = <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
		</ul>

		<p>Math</p>
		<ul>
			<li class="math-element" ui-jq="draggable" data-command="add" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> + <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="subtract" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> - <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="multiply" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &times; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="divide" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> &divide; <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>
			<li class="math-element" ui-jq="draggable" data-command="modulo" ui-options="expressionDraggableParams">
				<ul class="math-droppable" data-exp-name="exp1"></ul> mod <ul class="math-droppable" data-exp-name="exp2"></ul>
			</li>			
		</ul>
		<p>Vars</p>
		<ul>
			<li class="var-element" ui-jq="draggable" data-command="setX" ui-options="expressionDraggableParams">spriteX</li>
			<li class="var-element" ui-jq="draggable" data-command="setY" ui-options="expressionDraggableParams">spriteY</li>
			<li class="var-element" ui-jq="draggable" data-command="mouseX" ui-options="expressionDraggableParams">mouseX</li>
			<li class="var-element" ui-jq="draggable" data-command="mouseY" ui-options="expressionDraggableParams">mouseY</li>
			<li class="var-element" ui-jq="draggable" data-command="number" ui-options="expressionDraggableParams">number <input type="text" size="2" name="value"></li>
		</ul>
	</div>

	<div style="float:left;" class="command-workspace-outer">
		<p>Workspace</p>
		<ul id="workspace" class="command-workspace" ui-jq="sortable" ui-options="workspaceSortableParams">
		</ul>
	</div>

	<div style="float:left;" class="command-trash-outer">
		<div class="command-trash-icon">
			<i class="fa fa-trash"></i>
		</div><br>
		<div id="trash" class="command-trash" ui-jq="sortable" ui-options="trashSortableParams">			
		</div>
	</div>
</div>
